$blackColor: rgba(24, 24, 24);
$whiteColor: rgba(232,232,232);
$redColor: rgb(175, 2, 2);
$titleFont: Arial, Helvetica, sans-serif;
$bodyFont: "Times New Roman", "Times", "serif";

@mixin buttonStyle(){
    width: 200px;
    height: 40px;
    background-color: $redColor;
    border: none;
    border-radius: 8px;
    font-size: 25px;
    color: $whiteColor;
}

